body {
    font-family: 'Roboto', sans-serif; 
    background-color: white;
    font-size: clamp(0.8rem,  1.5vw, 1.3rem);
    margin: 0;
    transition: background-color 1s ease, color 1s ease; 
}

#dark {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: clamp(1rem,  1.5vw, 1.5rem);
    background-color: rgb(51, 51, 51);
    padding: .5rem;
    border: white solid 2px;
    text-decoration: none;
    transition: background-color 0.9s ease, border 1s ease;
}

#dark::before {
    content: "🌙";
}

#dark.darkness::before {
    content: "☀️";

}

#dark:hover {
    background-color: blue;
    border: black solid 2px;
}

body.darkness {
    background-color: rgb(20, 20, 20);
    color: white;
    transition: background-color 0.9s ease, border 1s ease;
}

a {
    color: rgb(52, 109, 128);
}

header, footer {
    background-color: #FF5733;
    border: black solid 8px;
    text-align: center;
}

header {
    padding: 3rem;
    text-align: center;
    font-size: clamp(2.5rem,  2vw, 3.5rem);
}


header h1 {
    font-size: clamp(1.2rem,  1.5vw, 2rem);
}

nav {
    background-color: rgb(100, 100, 185);

    padding: clamp(0.5rem, 2vw, 1rem);
    border: black solid 4px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0.5rem;

}
nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: clamp(1rem, 2vw, 10.5rem);
    transition: background-color 0.8s ease;

}

nav a:hover {
    background-color: darkblue;
    transition: background-color 0.8s ease;
}

main {
    text-align: center;
}
img {
    width: 75%; 
    height: auto; 
}
.discover {

}
.sidebar {
    border: black solid 2px;
}

.sidebar div {
    border: blue solid 2px;
    margin: 10px;
    padding: 5rem;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.images img {
    width: 300px;
    height: auto;
    margin: 1rem;
}
section {
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}




.membership {
    display: flex ;
    justify-content: center;
    align-items: center;
}

.content3 .membership div {
    background-color: rgb(184, 184, 184);
    width: 50px;
    margin: 1rem;

}




footer {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

@media screen and (max-width: 750px)
{

    main {

        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .content1, .content2, .content3 {

        width: clamp(200px, 80%, 600px);
        height: clamp(200px, 80%, 400px);
        border: black solid 2px;
        

    }

    .navigation {
        display: none;

    }
    #menu {
        height: clamp(70px, 1vw, 120px);
        text-decoration: none;
        text-align: center;
    }

    #menu::before {

        display: block;
        background-color: rgb(100, 100, 185);
        color: white;
        font-size: clamp(3rem, 1vw, 4.5rem);
        content: "≡";
        width: 100%;
        text-decoration: none;
        margin: 0.5rem;
    }
    #menu:hover {
        background-color: lightgrey;
        color:black;

    }
    #menu.show::before {
        content: "X";
        background-color: white;
        color: black;
    }
    .navigation.show {
        display: flex;

    }

}


fieldset {
    margin: 2rem ;
    border: 1px solid black;
    border-radius: 12px;
    padding: .5rem 2%;
    text-align: left;

}

legend {
    color: blue;
    padding: 0 .5rem;

}

label {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    min-height: 44px;
}
div {
    padding-top: 1rem;
    color: blue;
}

input[type="text"],
select,
input[type="email"],
input[type="url"],
input[type="date"],
input[type="tel"] {
    background-color: rgb(236, 236, 236);
    display: block;
    border: 1px solid black;
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 400px;
}


input[type="submit"] {
    background-color: rgba(255, 0, 0, 0.877);
    color: white;
    padding: .9rem;
    border-radius: 10px;
    width: 100%;
    max-width: 425px;

}

input:required {
    border-left: solid 8px rgb(214, 0, 0);
}

input:required:valid {
    border-left: solid 8px rgb(0, 107, 0);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col1 {
    grid-column: 1;

}

.col2 {
    grid-column: 2;
    margin: 2rem ;
    border: 1px solid black;
    border-radius: 12px;
    padding: .5rem 2%;
    color: black;
}

.col2 div {
    text-align: left;
    color: black;
    padding: .5rem
    ;
}

.col2 div .level, .col2 p{
    color: blue;
    font-size: 1.5rem;
}

.thanks{
    background-color: rgb(104, 177, 199);
}
.thanks div {
    height: 50rem;
    border: 5px solid black;
    border-radius: 15px;
    margin: 2rem;
    background: white;
    font-size: 10rem;
    color: black;
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    display: flex;
}